.Main_Btn button {
  height: 62px;
  width: 300px;
  background-color: white;
  border-color: #adc178;
  border-top: none;
  border-left: none;
  border-right: none;
}
.Card button {
  width: 210px;
  height: 80px;
}

.Sites {
  position: fixed;
  bottom: 0;
  background-color: #f9f9f9;
  height: 194px;
  width: 100%;
}
.Sites h3 {
  margin-left: 150px;
  width: 120px;
}
.Sites .mid {
  display: flex;
  justify-content: space-between;
}
.Sites .mid svg {
  width: 100px;
  height: 50px;
}
.Sites .mid .arrow1 {
  margin-left: 125px;
}
.Sites .mid .arrow2 {
  margin-right: 125px;
}
.Sites .mid .card {
  display: flex;
}
.Sites .mid .card button {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  background-color: #d9d9d9;
  border: none;
}

.Menu_Bar .menu {
  flex-direction: column;
}
.Menu_Bar .line hr {
  margin-top: 60px;
  height: 3px;
  background-color: #d9d9d9;
  border: none;
}
.Menu_Bar .menu_src {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Menu_Bar .menu .btn {
  margin-top: 50px;
}
.Menu_Bar .menu .btn button {
  width: 150px;
  margin-left: 120px;
  background-color: white;
  border: none;
  font-size: 20px;
}
.Menu_Bar .menu_line hr {
  margin-top: 30px;
  height: 3px;
  background-color: #adc178;
  border: none;
}

.MainPage .span {
  display: flex;
  justify-content: flex-end;
}
.MainPage .span button {
  width: auto;
  height: 23px;
  margin-right: 50px;
  background-color: white;
  border: none;
  font-size: 18px;
}
.MainPage .logo {
  display: flex;
  justify-content: space-around;
}
.MainPage .btn {
  display: flex;
  justify-content: center;
}
.MainPage .search {
  display: flex;
  justify-content: center;
  margin-top: 200px; /*위에 select문 만들면 변경*/
  height: 52px;
}
.MainPage .search input {
  border-radius: 8px 0px 0px 8px;
  width: 1101px;
  background-color: #d9d9d9;
  font-size: 48px;
  border: none;
}
.MainPage .search button {
  width: 105px;
  border-radius: 0px 8px 8px 0px;
  background-color: #adc178;
  border: none;
}

.Guide .title {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.Guide .title_menu {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  align-items: center;
}
.Guide .title h2 {
  font-size: 24px;
  width: 342px;
}
.Guide .search {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  height: 28px;
}
.Guide .search input {
  border-radius: 8px 0px 0px 8px;
  width: 390px;
  background-color: #d9d9d9;
  font-size: 15px;
  border: none;
  margin-left: 190px;
}
.Guide .search button {
  width: 40px;
  border-radius: 0px 8px 8px 0px;
  background-color: #adc178;
  border: none;
}
.Guide .title_line hr {
  background-color: #adc178;
  height: 1px;
  border: none;
}
.Guide .main .content {
  display: flex;
  justify-content: center;
}
.Guide .main .content .column1 {
  margin-top: 80px;
  flex-direction: column;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}
.Guide .main .content .column2 {
  margin-top: 80px;
  flex-direction: column;
  display: flex;
  margin-right: 80px;
  margin-left: 50px;
}
.Image_Re {
  flex-direction: column;
}

.Image_Re .image {
  width: 375px;
  height: 310px;
  object-fit: cover;
  background-color: #d9d9d9;
}
.Image_Re .image button {
  background-color: white;
  border: none;
}
.Image_Re .image img {
  width: 375px;
  height: 310px;
  object-fit: cover;
  font-size: 20px;
}

.Detail .title {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.Detail .search {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 28px;
  margin-left: 342px;
}
.Detail .search input {
  border-radius: 8px 0px 0px 8px;
  width: 390px;
  background-color: #d9d9d9;
  font-size: 15px;
  border: none;
  margin-left: 190px;
}
.Detail .search button {
  width: 40px;
  border-radius: 0px 8px 8px 0px;
  background-color: #adc178;
  border: none;
}
.Detail .title_line hr {
  background-color: #adc178;
  height: 1px;
  border: none;
}
.Detail .title_menu {
  display: flex;
  justify-content: flex-start;
}
.Detail .title h2 {
  font-size: 24px;
  width: 342px;
}
.DropDown {
  margin-left: 30px;
}
.DropDown ul {
  list-style: none;
  background-color: #d6e2b7;
  width: 200px;
  height: 175px;
}
.DropDown li {
  padding-top: 30px;
}
